        
body {
    background-color: rgba(119, 136, 153, 0.515);
        font-family: cursive;
        font-size: 20px;
        font-variant: small-caps;
    }
    h1{
        color: rgb(69, 82, 136);
    }
    h2{
        color: rgb(69, 82, 136)
    }
    p{
        text-align: left;
    }